{% extends "base.html" %}

{% block content %}
<div class="container background-container">
</div>
<div class="container texture-container">
</div>
<div id="basic-info">
  <h1 id="about"
      class="abouts">About</h1>
  <p id="subtitle-1"
     class="abouts">This is about us!</p>
</div>

<div id="brand-info-section"
     class="container">

  <div id="way-we-do-this"
       class="container">
    <h1 id="second-title">
      Who we are:
    </h1>
    <hr class="short-divider">
    <p id="initial-info"
       class="justify-text">
      FeedBack is a Columbus, Ohio based startup that is dedicated to reduce the amount of food that we waste, while also helping those who need it. Our team is passionate about community service and helping others in need.
    </p>
  </div>
{% endblock %}
