{% extends "base.html" %}

{% block content %}
<div class="container background-container">
</div>
<div class="container texture-container">
</div>
<div id="basic-info">
  <h1 id="main-title"
      class="main-titles">FeedBack</h1>
  <p id="subtitle-1"
     class="main-titles">GIVE BACK TO YOUR COMUNITY</p>
</div>

<div id="brand-info-section"
     class="container">

  <div id="way-we-do-this"
       class="container">
    <h1 id="second-title">
      Help us to help
    </h1>
    <hr class="short-divider">
    <p id="initial-info"
       class="justify-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi molestie nisi a ex dignissim, gravida maximus nunc
      feugiat. Nullam semper vitae ligula at aliquet. Curabitur
      eu urna lectus. Curabitur aliquam sem sed lorem mollis
      iaculis. Cras in mauris orci. Proin auctor turpis tincidunt
      nunc mollis, ut porta neque tempus. Ut vitae posuere nibh,
      nec porta nisi. Fusce ut nibh feugiat erat ullamcorper consequat.
      Sed pellentesque, nunc non lobortis dictum, magna tortor efficitur
      justo, quis pulvinar magna risus id tortor. Curabitur ut iaculis erat,
      id suscipit nibh. Vivamus ultricies, mi sit amet lacinia molestie,
      ipsum nunc pellentesque est, feugiat ultricies ex purus ut sapien.
      Maecenas vestibulum tristique volutpat. Sed vitae ex arcu. Nam convallis,
      ligula a malesuada convallis, erat lacus iaculis orci, vel semper ante
      leo eget ex. Nulla bibendum, mi ut posuere imperdiet, erat orci lobortis
      eros, id scelerisque justo est ut urna. Donec aliquam pretium mi, non
      venenatis massa sollicitudin at.
    </p>
  </div>

  <div id="second-section"
       class="container">
    <div id="how-we-doit"
         class="container">

      <div class="col-xs-12 col-sm-4">
        <div class="container cust-container">
          <a href="contact">
            <h3 class="how-title">
              I Am A Food Donor
            </h3>
          </a>
          <p class="justify-text">
            Vestibulum non orci quis metus fermentum auctor vel dapibus lorem.
            Donec pharetra sit amet ligula quis facilisis. Praesent commodo,
            odio in ullamcorper vulputate, purus ipsum iaculis augue, id tincidunt
            dolor nisi id erat. Pellentesque at pharetra leo. Fusce convallis lorem
            tortor, nec interdum magna volutpat sed. Phasellus efficitur vel magna
            at tempus. Nam sit amet risus id nisl cursus facilisis. Aenean non
            faucibus elit. Aenean iaculis scelerisque nibh ut mollis.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="container cust-container">
          <a href="#">
            <h3 class="how-title">
              I Am A Volunteer
            </h3>
          </a>
          <p class="justify-text">
            Vestibulum non orci quis metus fermentum auctor vel dapibus lorem.
            Donec pharetra sit amet ligula quis facilisis. Praesent commodo,
            odio in ullamcorper vulputate, purus ipsum iaculis augue, id tincidunt
            dolor nisi id erat. Pellentesque at pharetra leo. Fusce convallis lorem
            tortor, nec interdum magna volutpat sed. Phasellus efficitur vel magna
            at tempus. Nam sit amet risus id nisl cursus facilisis. Aenean non
            faucibus elit. Aenean iaculis scelerisque nibh ut mollis.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="container cust-container">
          <a href="#">
            <h3 class="how-title">
              I Am A Recipient
            </h3>
          </a>
          <p class="justify-text">
            Vestibulum non orci quis metus fermentum auctor vel dapibus lorem.
            Donec pharetra sit amet ligula quis facilisis. Praesent commodo,
            odio in ullamcorper vulputate, purus ipsum iaculis augue, id tincidunt
            dolor nisi id erat. Pellentesque at pharetra leo. Fusce convallis lorem
            tortor, nec interdum magna volutpat sed. Phasellus efficitur vel magna
            at tempus. Nam sit amet risus id nisl cursus facilisis. Aenean non
            faucibus elit. Aenean iaculis scelerisque nibh ut mollis.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="third-section"
       class="container">
    <div id="media-contacts">
      <h1 id="contact-info">
        You can find us on
      </h1>
      <a href="//www.twitter.com/">
        <h1 class="socicon-twitter inline socio-icons">
        </h1>
      </a>
      <a href="//www.facebook.com/">
        <h1 class="socicon-facebook inline socio-icons">
        </h1>
      </a>
    </div>

    </div>
  </div>
</div>
{% endblock %}
